/webserver/TyphoonForecastSite/typhoon/__pycache__
/webserver/TyphoonForecastSite/TyphoonForecastSite/__pycache__
/webserver/TyphoonForecastSite/util/__pycache__
/webserver/TyphoonForecastSite/typhoon/migrations/__pycache__
/webserver/TyphoonForecastSite/.idea
/background/02ByDelayTask/proj/.idea
/background/01ByJupyter/05-读取天文潮/_PRIVACY.py
